

<form class="loginForm"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="login" >
    <mat-label>email</mat-label>
    <input matInput placeholder="email" type="email" formControlName="email">
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <small class="error" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</small>
      <small class="error" *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</small>
    </div>
  </mat-form-field>

  <mat-form-field appearance="outline" class="login">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" formControlName="password">
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <small class="error" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
      <small class="error" *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</small>
    </div>
  </mat-form-field>
<button
  mat-raised-button
  [disabled]="loginForm.invalid"
  matTooltip="This is a tooltip!">Login</button>
</form>
